{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>É Verdade Isso? - Ferramenta para Análise de Campanhas de Desinformações e Notícias Falsas.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="AgregadorFatos" name="UFRGS" />

        <!-- App favicon -->
        <link rel="shortcut icon" href={% static "assets/images/favicon.ico" %}>

        <!-- Plugins css -->
        <link href={% static "assets/libs/dropzone/min/dropzone.min.css" %} rel="stylesheet" type="text/css" />
        <link href={% static "assets/libs/dropify/css/dropify.min.css" %} rel="stylesheet" type="text/css" />

    </head>

    <body>
      <!-- Theme Config Js -->
      <script src={% static "assets/js/head.js" %}></script>

      <!-- Bootstrap css -->
      <link href={% static "assets/css/bootstrap.css" %} rel="stylesheet" type="text/css" id="app-style" />

      <!-- App css -->
      <link href={% static "assets/css/app.css" %} rel="stylesheet"  type="text/css" />

      <!-- Begin page -->
      <div id="wrapper">

        <!-- ========== Menu ========== -->
        <div class="app-menu">
            <!-- Brand Logo -->
            <div class="logo-box">
                <!-- Brand Logo Light -->
                <a href="{% url 'index' %}" class="logo-light">
                  <img src={% static "assets/images/logo-nome.png" %} alt="logo" class="logo-lg">
                  <img src={% static "assets/images/logo-nome.png" %} alt="small logo" class="logo-sm">
                </a>

                <!-- Brand Logo Dark -->
                <a href="{% url 'index' %}" class="logo-dark">
                  <img src={% static "assets/images/logo-nome.png" %} alt="dark logo" class="logo-lg">
                  <img src={% static "assets/images/logo-nome.png" %} alt="small logo" class="logo-sm">
                </a>
            </div>
            <!-- menu-left -->
            <div class="scrollbar">
                <!--- Menu -->
                <ul class="menu">
                    <li class="menu-title">É Verdade isso ?</li>
                    <li class="menu-item">
                        <a href="{% url 'check_file' %}" class="menu-link">
                            <span class="menu-icon"><i data-feather="alert-circle"></i></span>
                            <span class="menu-text"> Analisar Arquivo </span>
                        </a>
                        <a href="{% url 'upload_file' %}" class="menu-link">
                            <span class="menu-icon"><i data-feather="upload"></i></span>
                            <span class="menu-text"> Enviar um fake </span>
                        </a>
                        <a href="{% url 'data_dump' %}" class="menu-link">
                            <span class="menu-icon"><i data-feather="database"></i></span>
                            <span class="menu-text"> Dados </span>
                        </a>
                    </li>
                </ul>
                <!--- End Menu -->
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- ========== Menu End ========== -->

        <!-- Content Page Start -->
        <div class="content-page">
          <div class="content">
            {% block page_content %}
            {% endblock %}
          </div>

           <!-- Footer Start -->
           <footer class="footer">
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-md-6">
                           <div><script>document.write(new Date().getFullYear())</script> © É Verdade Isso? - <a href="http://hackathon.sbc.org.br/hsclima/">Hacktoon da Solidariedade Climática (HSCLIMA)</a></div>
                       </div>
                       <div class="col-md-6">
                           <div class="d-none d-md-flex gap-4 align-item-center justify-content-md-end footer-links">
                               <a href="javascript: void(0);">Sobre</a>
                               <a href="javascript: void(0);">Github</a>
                           </div>
                       </div>
                   </div>
               </div>
           </footer>
           <!-- End Footer -->
        </div>
        <!-- Content Page End -->

      </div>
      <!-- End page -->

      <!-- Vendor js -->
      <script src={% static "assets/js/vendor.min.js" %}></script>

      <!-- App js -->
      <script src={% static "assets/js/app.min.js" %}></script>

      <!-- Plugins js-->
      <!-- <script src="assets/libs/flatpickr/flatpickr.min.js"></script> -->
      <!-- <script src="assets/libs/apexcharts/apexcharts.min.js"></script> -->
      <!-- <script src="assets/libs/selectize/js/standalone/selectize.min.js"></script> -->

      <!-- Dashboard 1 init js-->
      <script src={% static "assets/js/pages/dashboard-1.init.js" %}></script>

    </body>

</html>
