{% extends "App/templates/base.html" %}
{% load static %}
    <!-- Plugins js -->
        <script src={% static "assets/libs/dropzone/min/dropzone.min.js" %}></script>
        <script src={% static "assets/libs/dropify/js/dropify.min.js" %}></script>

        <!-- Init js-->
        <script src={% static "assets/js/pages/form-fileuploads.init.js" %}></script>
        
{% block page_content %}
             
<h3>Ferramenta para Análise de Campanhas de Desinformações e Notícias Falsas.</h3>
<h6>Utilizamos Inteligência Artificial (IA) e dados de veículos confiáveis de checagens de fatos para analisar a veracidade das informações compartilhadas durante períodos de calamidade pública.</h4>
                <select id="selectOption">
	<option value="option0">Selecione uma opção</option>
    <option value="option1">Arquivo</option>
    <option value="option2">Texto</option>
</select>
                <div id="form1" style="display: none;">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Envie seu arquivo</h4>
                                        <p class="sub-header">
Verificaremos em nossa base de dados se o conteúdo arquivo é oriundo de campanhas de desinformação ou contém informações incorretas.                                        </p>
		                         <b>Formatos aceitos: .jpg, .png, .mp4 e .txt</b>
                    <form enctype="multipart/form-data" method="post" class="dropzone" id="formOption1" data-plugin="dropzone" data-previews-container="#file-previews"
                                            data-upload-preview-template="#uploadPreviewTemplate">
								{% csrf_token %}
								{{ form.as_p }}
					<button type="submit">Checar</button>
					</form>

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div><!-- end col -->
                        </div>
                       </div>

                <div id="form2" style="display: none;">
                            <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Envie seu texto</h4>
                                        <p class="sub-header">
Verificaremos em nossa base de dados se texto é oriundo de campanhas de desinformação ou contém informações incorretas.                                        </p>
                                                                <strong>Até 1000 caracteres</span>	
                           <form enctype="multipart/form-data" method="post" class="dropzone" id="formOption2" data-plugin="dropzone" data-previews-container="#file-previews">
								{% csrf_token %}
								{{ form2.as_p }}
									<button type="submit" id="submit_button_2" form="formOption2" name="submit_button" value="form2">Enviar Texto</button>	
						</form>    
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div><!-- end col -->
                        </div>
                        </div>
                        <!-- end row -->  
				</div>
                        <!-- end row -->  					
<script>
    // Adiciona um evento de escuta para detectar mudanças na seleção
	document.getElementById("selectOption").addEventListener("change", function() {
    var selectedOption = this.value;

    // Oculta todos os formulários
    document.getElementById("form1").style.display = "none";
    document.getElementById("form2").style.display = "none";

    // Exibe o formulário correspondente com base na opção selecionada
    if (selectedOption === "option1") {
        document.getElementById("form1").style.display = "block";
    } else if (selectedOption === "option2") {
        document.getElementById("form2").style.display = "block";
    }
});
</script>
 
{% endblock %}
   
