{% extends "App/templates/base.html" %}
      
{% block page_content %}

 <!-- Start Content-->
                    <div class="container-fluid">
                        
			<br>                        
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center">
                                    <i class="h1 mdi mdi-comment-multiple-outline text-muted"></i>
                                    <h3 class="mb-3">Sobre</h3>
                                    <p class="text-muted">Aqui você encontra algumas informações sobre o que são fake news.</p>

                                    <button type="button" class="btn btn-success waves-effect waves-light mt-2 me-1"><i class="mdi mdi-email-outline me-1"></i><a href="/contato/">Entre em Contato</a></button>

                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->


                        <div class="row pt-5">
                            <div class="col-lg-5 offset-lg-1">
                                <!-- Question/Answer -->
                                <div>
                                    <div class="faq-question-q-box">Q.</div>
                                    <h4 class="faq-question" data-wow-delay=".1s">O que são as fake news?</h4>
                                    <p class="faq-answer mb-4">Fake News é um termo que se refere a informações ou notícias deliberadamente falsas ou enganosas, criadas e disseminadas com o objetivo de enganar, manipular ou influenciar a opinião pública, promover agendas políticas ou pessoais, ou gerar lucro através de cliques e compartilhamentos nas redes sociais e outras plataformas digitais. As fake news podem assumir diversas formas, incluindo artigos, postagens em redes sociais, vídeos, imagens e memes, e muitas vezes se disfarçam como fontes legítimas de notícias para ganhar credibilidade.</p>
                                </div>
        
                                <!-- Question/Answer -->
                                <div>
                                    <div class="faq-question-q-box">Q.</div>
                                    <h4 class="faq-question">Quais são as características comuns das fake news?</h4>
                                    <p class="faq-answer mb-4">As fake news possuem características comuns, como o sensacionalismo, onde títulos e conteúdos exagerados ou alarmistas buscam atrair a atenção e provocar uma forte reação emocional. Outro aspecto é a descontextualização, em que informações verdadeiras são tiradas de contexto para distorcer seu significado original. As fontes não confiáveis são frequentemente utilizadas, oriundas de sites ou plataformas sem credibilidade que não seguem padrões jornalísticos de verificação de fatos. A propagação rápida das fake news é facilitada pelo uso intensivo de redes sociais, bots e algoritmos de recomendação, muitas vezes com objetivos específicos como influenciar opiniões políticas, provocar divisões sociais, ou lucrar com a viralização do conteúdo.</p>
                                </div>
        
                            </div>
                            <!--/col-md-5 -->
        
                            <div class="col-lg-5">
                                <!-- Question/Answer -->

                                <!-- Question/Answer -->
                                <div>
                                    <div class="faq-question-q-box">Q.</div>
                                    <h4 class="faq-question">Quais são alguns exemplos de fake news?</h4>
                                    <p class="faq-answer mb-4">Os exemplos de fake news são variados, incluindo notícias fabricadas sobre eventos que nunca ocorreram, teorias da conspiração que apresentam alegações sem base factual, manipulação de imagens ou vídeos para criar uma falsa narrativa, e disseminação de boatos sobre figuras públicas ou organizações.</p>
                                </div>
        
                                <!-- Question/Answer -->
                                <div>
                                    <div class="faq-question-q-box">Q.</div>
                                    <h4 class="faq-question" data-wow-delay=".1s">Como combater?</h4>
                                    <p class="faq-answer mb-4">Para combater as fake news, é essencial promover a educação, aumentando a alfabetização midiática e a capacidade crítica dos indivíduos para avaliar a veracidade das informações. A verificação de fatos é crucial, utilizando serviços que investigam e desmentem informações falsas. A regulação, através da implementação de políticas e regulamentações, pode responsabilizar as plataformas digitais e os criadores de conteúdo por disseminar desinformação. Além disso, a tecnologia pode ser aliada, desenvolvendo e utilizando ferramentas baseadas em inteligência artificial para detectar e mitigar a disseminação de fake news.</p>
                                </div>
        

        
                            </div>
                            <!--/col-md-5-->
                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container -->
		</div> <br>
{% endblock %}
   
