{% load static %}

<html>
        <head>
            <link rel="stylesheet" href={% static "assets/modal.css" %}>

        </head>

        <form enctype="multipart/form-data" method="post" action="/addSource/" class="dropzone" id="formOption3" data-plugin="dropzone" data-previews-container="#file-previews"
                                            data-upload-preview-template="#uploadPreviewTemplate">
								{% csrf_token %}
								{{ form.as_p }}
									<button type="submit" id="submit_button_3" form="formOption3" name="submit_button" value="form3">Salvar</button>
		</form>
 

        
    <script src={% static "assets/modal.js" %}></script>

</html>
