{% load static %}

<html>

    <head>
        <meta charset="utf-8" />
        <title>É Verdade Isso? - Ferramenta para Análise de Campanhas de Desinformações e Notícias Falsas.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="AgregadorFatos" name="UFRGS" />

        <!-- App favicon -->
        <link rel="shortcut icon" href={% static "assets/icon.png" %}>

        <!-- Plugins css -->
        <link href={% static "assets/libs/dropzone/min/dropzone.min.css" %} rel="stylesheet" type="text/css" />
        <link href={% static "assets/libs/dropify/css/dropify.min.css" %} rel="stylesheet" type="text/css" />

	<!-- Theme Config Js -->
	<script src={% static "assets/js/head.js" %}></script>

	<!-- Bootstrap css -->
	 <link href={% static "assets/css/bootstrap.min.css" %} rel="stylesheet" type="text/css" id="app-style" /> 

	<!-- App css -->
	<link href={% static "assets/css/app.min.css" %} rel="stylesheet" type="text/css" />

	<!-- Icons css -->
	<link href={% static "assets/css/icons.min.css" %} rel="stylesheet" type="text/css" />
		
        <!-- Vendor js -->
        <script src={% static "assets/js/vendor.min.js" %}></script>

        <!-- App js -->
        <script src={% static "assets/js/app.min.js" %}></script>

      <style>
 .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Other styling */
}
 </style>
   
    </head>

        <body>
	<div id="wrapper">

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <!-- ========== Topbar Start ========== -->
                <div class="navbar-custom">
                    <div class="topbar">
                        <div class="topbar-menu d-flex align-items-right gap-1">
                            <div class="d-none d-xl-block">
                                <a class="nav-link waves-effect waves-light" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span> <img src={% static "assets/logo-nome.png" %} alt="É Verdade Isso?"> Plataforma para Identificação de Informações Falsas Utilizando Assinaturas de Conteúdo e Inteligência Artificial.
 </span>
                                </a>
                            </div>
                        </div>
                        <ul class="topbar-menu d-flex align-items-center">

                            <div class="d-none d-xl-block">
                                <a class="nav-link waves-effect waves-light" href="/" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span>Início</span>
                                </a>
                            </div>
                            <div class="d-none d-xl-block">
                                <a class="nav-link waves-effect waves-light" href="/check/" role="button" aria-haspopup="false" aria-expanded="false">
                                   <span>Checar Conteúdo</span>
                                </a>
                            </div>

                            <div class="d-none d-xl-block">
                                <a class="nav-link waves-effect waves-light" href="/data/" role="button" aria-haspopup="false" aria-expanded="false">
                                   <span>Dados</span>
                                </a>
                            </div>
                            
              <div class="d-none d-xl-block">
                                <a class="nav-link waves-effect waves-light" href="/upload/" role="button" aria-haspopup="false" aria-expanded="false">
                                   <span>Enviar Conteúdo</span>
                                </a>
                            </div>
                            <div class="d-none d-xl-block">
                                <a class="nav-link waves-effect waves-light" href="/about/" role="button" aria-haspopup="false" aria-expanded="false">
                                   <span>Sobre</span>
                                </a>
                            </div>
                            
                            <div class="d-none d-xl-block">
                                <a class="nav-link waves-effect waves-light" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="icon-login font-22"></i> 
                                </a>
                            </div>

                            <!-- Light/Dark Mode Toggle Button -->
                            <li class="d-none d-sm-inline-block">
                                <div class="nav-link waves-effect waves-light" id="light-dark-mode">
                                    <i class="ri-moon-line font-22"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- ========== Topbar End ========== -->
		
    <body>
	
    {% block page_content %}                 
          {% endblock %}
	</body>
   
   <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div><script>document.write(new Date().getFullYear())</script> © É Verdade Isso? - <a href="http://hackathon.sbc.org.br/hsclima/">Hacktoon da Solidariedade Climática (HSCLIMA)</a> - Universidade Federal do Rio Grande do Sul (UFRGS)</div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-none d-md-flex gap-4 align-item-center justify-content-md-end footer-links">
                                    <a href="mailto:mffranco@inf.ufrgs.br,ejscheid@inf.ufrgs.br,avcamargo@inf.ufrgs.br">Contato</a>
                                    <a href="https://github.com/ComputerNetworks-UFRGS/VerdadeIsso">Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->
                
 
</html>
