{% extends "App/templates/base.html" %}
      
{% block page_content %}

 <!-- Start Content-->
                    <div class="container-fluid">
                        
			<br>                        
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center">
                                    <i class="h1 mdi mdi-email text-muted"></i>
                                    <h3 class="mb-3">Contato</h3>
				    <p>Desenvolvedores: Muriel Figueredo Franco, Eder John Scheid, Arthur Camargo<br>
				    E-mail: [mffranco, ejscheid, avcamargo]@inf.ufrgs.br<br>
				    Universidade Federal do Rio Grande do Sul (UFRGS) - Instituto de Informática (INF) - Grupo de Redes<br><br>
				</p>

                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->

                    </div> <!-- container -->
		</div> <br>
{% endblock %}
   
