{% extends "App/templates/base.html" %}
{% load static %}
{% block page_content %}
        <!-- Begin page -->
        <div id="wrapper">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                <h4 class="page-title">Dados de Desinformação</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Lista de Informações Falsas</h4>
                                        <p class="text-muted font-13 mb-4">
							Abaio estão exemplos de informações falsas sendo disseminadas relacionadas a fonte selecionada.</p>
							<h4>Nóticia de Verificação: {{ fonte_title }}</h4><br>
						     <h4 class="header-title">Atenção: O conteúdo abaixo contém desinformação.</h4>
                                    <div class="card-body">
											{% for fake in fake_text %}
												{% for fonte in fake.Fontes.all %}
													{% if fonte.id == value_id %}
  <div class="row">
                            <div class="col-12">
                                <div class="card">
									<h6>Versão:</h6>
											<a>{{ fake.texto }}</a><br> 
									
                        </div>
                        <!-- end row-->
                      	
                        
                        									{% endif %}
												{% endfor %}
											{% endfor %}

				</div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->						
                        
                            </div><!-- end col-->
                        </div>
               
        <!-- END wrapper -->

        <!-- third party js -->
        <script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
        <script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
        <script src="{% static 'assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'assets/libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
        <script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'assets/libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
        <script src="{% static 'assets/libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{% static 'assets/libs/pdfmake/build/vfs_fonts.js' %}"></script>
        <!-- third party js ends -->

        <!-- Datatables init -->
        <script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>
    {% endblock %}


